/*
 * Copyright © 2012 - 2013 Atlassian Corporation Pty Ltd.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#source-editor-configuration .edit {
    display: none;
}

#source-editor-configuration.editing .edit {
    display: block;
}

#source-editor-configuration.editing .view {
    display: none;
}

#source-editor-configuration .buttons-container {
    padding-top: 10px;
    margin: 0;
}

#source-editor-configuration .buttons-container .buttons a {
    padding-left: 10px;
}

#source-editor-configuration h2 {
    margin-top: 20px;
}